@mixin logo {
  .brand {
    font-size: 2rem;
    font-weight: 600;
  }
}
@mixin grayText {
  font-size: $normal-text-size;
  a:hover {
    color: $primary-blue;
  }
}

@mixin verticalDivider{
  .vertical-divider {
    border-right: 1px solid $gray-text-color;
    display: inline;
  }
}

@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: $direction;
}