@import "../../../custom-styles/variables.scss";
@import "../../../custom-styles/mixins.scss";
nav {
  @include grayText;
}

@include logo; //logo styling from mixins
.navbar-toggler {
  border: none;
  color: $gray-text-color;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  &:focus,
  &:hover {
    background-color: transparent !important;
  }
}
@media screen and (max-width: 576px) {
  nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
