<section class="bg-light py-3 welcome-section">
  <header>
    <div class="container form-container">
      <form action="#!" class="mx-0">
        <div class="form-outline">
          <select name="Job" id="jobType">
            <option value="everything">Everything</option>
            <option value="job">Job</option>
            <option value="internships">Internships</option>
            <option value="volunteerOpportunities">
              Volunteer Opportunities
            </option>
            <option value="organizations">Organizations</option>
            <option value="gradPrograms">Grad Programs</option>
          </select>
        </div>
        <div class="form-outline">
          <input
            type="text"
            placeholder="Search by Keyword, skill or interests"
          />
        </div>
        <div class="form-outline">
          <input type="text" id="location" placeholder="Everywhere" />
          <label for="location"
            ><span class="material-symbols-outlined"> location_on </span></label
          >
        </div>
        <button
          type="submit"
          class="btn-lg btn btn-primary d-flex justify-content-center align-items-center my-0"
        >
          <span class="material-symbols-outlined"> search </span>Search
        </button>
      </form>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row my-5">
        <div class="col-md-4 card-container">
          <div class="card h-100 w-100 text-center" style="width: 18rem">
            <img
              src="../../../assets/Shout.webp"
              class="card-img-top mx-auto"
            />
            <div class="card-body">
              <h1 class="card-title">
                <a href="#!">Volunteering and Events</a>
              </h1>
              <p class="card-text">
                Explore our volunteer, event, and action listings to discover
                ways to make an impact in your community.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-container">
          <div class="card h-100 w-100 text-center" style="width: 18rem">
            <img src="../../../assets/Tools.svg" class="card-img-top mx-auto" />
            <div class="card-body">
              <h1 class="card-title"><a href="#!">Social-Impact Jobs</a></h1>
              <p class="card-text">
                Use our location, experience level, and issue area job-search
                filters to find your perfect-fit career opportunity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 card-container">
          <div class="card h-100 w-100 text-center" style="width: 18rem">
            <img src="../../../assets/Money.svg" class="card-img-top mx-auto" />
            <div class="card-body">
              <h1 class="card-title"><a href="#!">Salary Explorer</a></h1>
              <p class="card-text">
                Find your earning potential with our new salary calculator that
                allows you to compare salaries and possible career paths.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
<section class="job-direction">
  <div class="container my-3 p-3">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/job-details-img.svg" class="w-100 h-auto" />
      </div>
      <div class="col-md-6">
        <p class="small-head">JOBS WITH PURPOSE</p>
        <h3>Meet Idealist, the world's largest social-impact job board</h3>
        <p>
          Our job listings include opportunities spanning a variety of
          nonprofits, social-impact businesses, and corporate social
          responsibility (CSR) initiatives. From entry-level positions to
          executive roles, explore thousands of opportunities to find the
          perfect fit that aligns with your personal and professional values and
          goals.
        </p>
        <button type="button" class="btn btn-primary">Search Jobs</button>
      </div>
    </div>
  </div>
</section>
<div class="divider mx-auto my-4"></div>

<section class="career-advice my-5">
  <div class="container text-center">
    <h3 class="my-5">The latest from our career experts</h3>
    <div class="row text-center">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <img src="../../../assets/career1.webp" />
        <a href="#!"
          >Tips for Older Job Seekers | How to Find Age-Inclusive
          Organizations</a
        >
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <img src="../../../assets/career2.webp" />
        <a href="#!"
          >First Day at a New Job? Here Are the 3 Most Important Questions to
          Ask</a
        >
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <img src="../../../assets/career3.webp" />
        <a href="#!"
          >Who's Hiring? 8 Organizations Working in Partnership With the AAPI
          Community</a
        >
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <img src="../../../assets/career4.webp" />
        <a href="#!">How to Leave a Job on Good Terms | Part 2</a>
      </div>
    </div>
    <button class="btn btn-primary my-5">Read More</button>
  </div>
</section>
<div class="divider mx-auto my-2"></div>
<section class="volunteer-home row">
  <div class="col-6"></div>
  <div class="container col-6 p-5 d-flex align-items-start justify-content-evenly flex-column">
    <p class="small-head">NEW, EXPANDED VOLUNTEER OPPORTUNITIES</p>
    <h3>Want to make your corner of the world a little better?</h3>
    <p>
      With over 100,000 listings from trusted partners like Volunteer Match,
      DoSomething, Points of Light, Volunteer.gov, and AARP, Idealist features
      an impressive variety of volunteer opportunities with organizations whose
      missions align with your values. Whether you're looking for a one-time
      event, an ongoing commitment, or a little bit of everything, you'll find
      it here!
    </p>
    <button type="button" class="btn btn-primary">
      Search Volunteer Listings
    </button>
  </div>
</section>
<section class="post-listings">
  <div class="container my-3 p-3">
    <div class="row">
      <div class="col-md-6">
        <p class="small-head">EMPLOYER RESOURCES</p>
        <h3>
          Use our expert resources to recruit, hire, and retain the sector’s
          best talent
        </h3>
        <p>
          With 1.3 million monthly visits, Idealist is the ultimate platform for
          finding experienced and mission-driven professionals. Implement tips
          and tools from our <a href="#!">employer resources library</a> to
          maximize the reach and impact of your job and internship
          opportunities.
        </p>
        <button type="button" class="btn btn-primary">Post a Listing</button>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/post-a-listing.svg" class="w-100 h-auto" />
      </div>
    </div>
  </div>
</section>
