@import "../../../custom-styles/variables.scss";
@import "../../../custom-styles/mixins.scss";
header {
  background-image: url(../../../assets/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
}
.form-container {
  width: 40vw;
  height: fit-content;
  padding: 2rem;
  background-color: white;
  position: absolute;
  top: 16rem;
  left: 5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.52);
}
.form-outline {
  margin-bottom: 1rem;
  input,
  select {
    width: 100%;
    outline: none;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.6rem;
    &:hover {
      border: 1px solid $primary-blue;
    }
  }
}
button {
  width: 100%;
}
#location {
  padding-left: 1.6rem;
}
label[for="location"] {
  position: relative;
  bottom: 2.1rem;
  left: 2px;
}

@media screen and (max-width: 855px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .form-container {
    position: static;
    width: 90%;
    form {
      width: inherit;
    }
  }
}
.card {
  img{
    width: 80px;
    height: auto;
  }
}

@media screen and (max-width: 469px) {
  header {
    background-image: url(../../../assets/home-bg-mobile.jpg);
  }
}
