@import "../../../custom-styles/variables.scss";
@import "../../../custom-styles/mixins.scss";




.footer-extra,.language-list{
    a{
        text-decoration: none;
        color: $gray-text-color;
        @include grayText
    }
}
.vertical-divider {
  border-right: 1px solid $gray-text-color;
  display: inline;
}
@media screen and (max-width: 1200px) {
  .footer-extra {
    display: none;
  }
  .donation{
    width: 90dvw;
  }
}
