@import "../../../custom-styles/variables.scss";
@import "../../../custom-styles/mixins.scss";
section{
@include grayText;
}
.language-list{
    a{
        text-decoration: none;
        color: $gray-text-color;
    }
}
.donation{
    width: 100%;
}
.vertical-divider{
    border-right: 1px solid $gray-text-color;
    display: inline;
}
@media screen and (max-width:1200px) {
    .footer-extra{
       display: none;
    }
}