

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    

  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-lg-4 col-xl-4 donation">
            <!-- Content -->
           <p>Working with others, in a spirit of generosity and mutual respect, we want to help build a world where all people can lead free and dignified lives.</p>
           <button class="btn btn-primary">Donate to FindVol</button>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class=" footer-extra col-lg-2 col-xl-2 mx-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Discover
            </h6>
            <p>
              <a href="#!">Jobs</a>
            </p>
            <p>
              <a href="#!">Internships</a>
            </p>
            <p>
              <a href="#!">Organizations</a>
            </p>
            <p>
              <a href="#!">Volunteer Opportunities</a>
            </p>
            <p>
              <a href="#!">Grad Schools</a>
            </p>
            <p>
              <a href="#!">Site Map</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class=" footer-extra col-lg-2 col-xl-2 mx-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Post a Listing
            </h6>
            <p>
              <a href="#!">Post a Job</a>
            </p>
            <p>
              <a href="#!">Sign Up</a>
            </p>
            <p>
              <a href="#!">Contact Us</a>
            </p>
            <p>
              <a href="#!">For Employers</a>
            </p>
            <p>
              <a href="#!">For Grad Schools</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class=" footer-extra col-lg-2  col-xl-2 mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Resources</h6>
            <p> <a href="#!">Job Seekers Tools</a></p>
            <p> <a href="#!">Career Advice</a></p>
            <p> <a href="#!">Grad Resources</a></p>
            <p> <a href="#!">Ideas for Action</a></p>
            <p> <a href="#!">Logo & Design</a></p>
            <p> <a href="#!">Newsletter</a></p>
           
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class=" footer-extra col-lg-2  col-xl-2 mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Learn More</h6>
            <p> <a href="#!">About Us</a></p>
            <p> <a href="#!">Our Team</a></p>
            <p> <a href="#!">Help & FAQ</a></p>
            <p> <a href="#!">Contact US</a></p>
            <p> <a href="#!">Terms of Service</a></p>
            <p> <a href="#!">Privacy Policy</a></p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        <div class="social-icons">
            <i class="fa-brands fa-facebook mx-2 my-0"></i>
            <i class="fa-brands fa-twitter mx-2 my-0"></i>
            <i class="fa-brands fa-youtube mx-2 my-0"></i>
            <i class="fa-brands fa-instagram mx-2 my-0"></i>
        </div>
        <div class="language-list">
            <a href="#!">English</a>
            <div class="vertical-divider mx-2 my-0"></div>
            <a href="#!">Hindi</a>
            <div class="vertical-divider mx-2 my-0"></div>
            <a href="#!">Arabic</a>
        </div>
        <div class="copywrite">
            <p>Copywrite &copy; 2023 FindVol.org</p>
        </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->